
doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject

  style.
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.4em;
      margin: 0;
      padding: 0;
    }

    table.body-wrap {
      width: 100%;
      padding: 20px;
    }

    table.body-wrap .container {
      border: 1px solid #f0f0f0;
    }

    table.footer-wrap {
      width: 100%;
      clear: both!important;
    }

    a {
      color: white;
      background-color: #6d28d9;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 10px
    }

    .header {
      font-size: 22px;
      color: #444444;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: start;
    }

    p {
      font-size: 18px;
    }


  body
    p.header Hello #{firstName} #{lastName},
    p This e-mail was sent to assist you because you cannot access your account.
    p To reset your password, please click the link below:
    a(href=`${url}`) Set a new password
    p If you have not requested this action, please ignore this email. If you think there is a problem with your account, please let us know.
    p Kind regards,
    p Insaclone Team







